@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for Tailwind v3 */
::-webkit-scrollbar {
  height: 8px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}